body {
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	color: #666;
}
h1,h2,h3 {
	color: #000;
}
h2, h3 {
	border-bottom: 1px solid;
}
h2 {
	margin-top: 50px;
}
.console,
.listing {
	background: #272822;
	display: block;
	color: #A6E22E;
	font-family: Menlo, "Lucida Sans Typewriter", monospace;
	padding: 20px;
	line-height: 1.4em;
}
.name {
	color: #A6E22E;
}
.listing {
	color: #F8F8F2;
}
.listing .comment {
	color: #888;
}
.string {
	color: #edff00;
}
.var {
	color: #F92672;
}
.key {
	color: #66D9EF;
}
.selector {
	color: #A1EFE4;
}
.more {
	color: #FD971F;
}
.more2 {
	color: #AE81FF;
}