body {
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	color: #666;
}
h1,h2,h3 {
	color: #000;
}
h2, h3 {
	border-bottom: 1px solid;
}
h2 {
	margin-top: 50px;
}
.console,
.listing {
	background: #200;
	display: block;
	color: #85ff00;
	font-family: Menlo, Courier, monospace;
	padding: 20px;
}
.listing {
	color: #fff;
}
.listing .comment {
	color: #888;
}
.string {
	color: #edff00;
}
.var {
	color: #cf2862;
}
.selector {
	color: #00ffe7;
}