@font-face {
  font-family: Open Sans;
  src: url('opensans.eot');
  src: local('Open Sans'), local('OpenSans'),
       url('opensans.eot?#iefix') format('embedded-opentype'),
       url('opensans.woff2') format('woff2'),
       url('opensans.woff') format('woff'),
       url('opensans.ttf')  format('truetype'),
       url('opensans.svg#svgFontName') format('svg');
}